[Unit]
Description=Stop Smoking Service
After=network.target

[Service]
Type=forking
ExecStart=~/stopsmoking
StandardOutput=append:/var/log/stopsmoking1.log
StandardError=append:/var/log/stopsmoking2.log
StandardInput=null
User=tux

[Install]
WantedBy=multi-user.target